.cat-card {
    flex: 0 0 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #666;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
}

.cat-card img {
    width: 100%; 
    height: 350px; 
    object-fit: cover; 
    
}

.cat-card h3 {
    font-size: 1.5rem;
    color: #666;
}

.cat-card h3, .cat-card p {
    margin: 10px;
    
}

.cat-card p {
    color: #666; 
   
    
}

.featured-cats-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
    background-color: #A3B763;
}

