/* AboutUs.css */

.about-us {
    margin: 0 auto;
    max-width: 100%;
    font-family: Arial, sans-serif;
}

.about-us h1 {
    color: #666;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-section {
    display: flex;
    align-items: flex-start; 
    gap: 0px; 
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FFE6E6;
}

.image-container {
    flex: .5;
    padding: 20px;
}

.image-container img {
    width: auto; /* Adjust this to 'auto' or specific px to use the actual size of the image */
    max-width: 100%; /* Ensures the image is fully visible but does not exceed its container */
    height: auto; /* Maintain aspect ratio */
}
.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Consistent rounded corners */
}

.text-container {
    flex: 2;
    padding: 20px;
    text-align: left; 
    
}

.text-container h2 {
    color: #860A35; 
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.text-container p {
    color: #860A35;
    margin-bottom: 20px;
    font-size: 1.25rem; 
    line-height: 1.5; 
}

.mission-statement {
    background-color: #F5F5F5;
    text-align:center;
    padding: 20px;
    margin-bottom: 20px;
    
}

/* Styles for the mission statement section */
.mission-statement {
    background-color: #F5F5F5;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.mission-statement h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #666;
    margin-bottom: 20px;
}

.mission-text {
    text-align: center;
    margin: auto;
    width: 66.67%;
    font-size: 1.25rem;
}

.mission-text ul {
    list-style-type: disc;
    margin: 0 auto;
    padding-left: 40px; /* Adjust this to align the bullets */
    text-align: left;
    display: table;
}

.mission-text ul li {
    text-align: left; 
    padding: 5px 0; 
}

.mission-text p {
    margin-top: 20px;
    line-height: 1.5;
    
}


.history h2 {
    font-size: 2.5rem;
    font-weight: 500;
    
    color: #666;
    text-align: center;
}

.history p {
    font-size: 1.25rem;
    margin-bottom: 20px;
    line-height: 1.5;
    width: 66.67%;
    width: 66.67%;
    padding: 20px;
    margin: auto;
    
}

.our-team-section h2{
    color: #666; /* Matching the theme color */
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}


@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .get-involved ul {
        text-align: center; /* Centers text on smaller screens */
    }
}
