.volunteer-form-container {
    width: 95%;
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px;
}

.volunteer-form-container h2 {
    font-size: 2rem;
    text-align: center
}

.volunteer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

.volunteer-form label,
.volunteer-form input,
.volunteer-form textarea,
.volunteer-form button {
    display: block;
    margin-bottom: 3px; 
    width: 55%; 
}

.volunteer-form input,
.volunteer-form textarea {
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #ffffff; 
    margin: 5px;
    color: #333;
}

.volunteer-form label {
    color: #333;
    font-size: 1.1rem;
    background-color: #f9f9f9;
    text-align: left;
}

.volunteer-form fieldset {
    margin-bottom: 20px; 
    border: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
    border: none;
    
}

.volunteer-form button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #860A35;
    color: white;
    font-size: 1.1rem;
}

.volunteer-form legend {
    margin-bottom: 10px; 
    font-weight: bold; 
}


.volunteer-form input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
    background-color: #f9f9f9;
    
}

.volunteer-form input[type="checkbox"],
.volunteer-form input[type="date"] {
    margin-left: 5px;
    accent-color: #860A35; 
    
}

.days-avail-container input[type="checkbox"]{
background-color: #f9f9f9

}

.volunteer-form input[type="date"] {
   
    background: url('path/to/calendar-icon.png') no-repeat right; /* Add your calendar icon here */
    background-size: 20px; 
    cursor: pointer;
}

.modal-content {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 50%; 
    max-height: 80vh; 
    overflow-y: auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

