.volunteer-form-container {
    width: 95%;
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px;
}

.volunteer-form-container h2 {
    font-size: 2rem;
    text-align: center
}

.volunteer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

.volunteer-form label,
.volunteer-form input,
.volunteer-form textarea,
.volunteer-form button {
    display: block;
    margin-bottom: 5px; 
    width: 70%; 
}

.volunteer-form input,
.volunteer-form textarea {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #ffffff; 
    margin: 5px
}

.volunteer-form label {
    color: #333;
    font-size: 1.1rem;
}

.volunteer-form fieldset {
    margin-bottom: 20px; 
    border: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px; 
    border: none;
    
}

.volunteer-form button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #860A35;
    color: white;
    font-size: 1.1rem;
}

.volunteer-form legend {
    margin-bottom: 10px; 
    font-weight: bold; 
}


.volunteer-form input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
    background-color: #f9f9f9;
    
}

.volunteer-form input[type="checkbox"],
.volunteer-form input[type="date"] {
    margin-left: 5px; /* Spacing between label and checkbox */
    accent-color: #860A35; /* Style checkbox color */
}

.volunteer-form input[type="date"] {
   
    background: url('path/to/calendar-icon.png') no-repeat right; /* Add your calendar icon here */
    background-size: 20px; /* Adjust size as necessary */
    cursor: pointer;
}

.modal-content {
    top: 25%;
    left: 50%; 
    width: 30%;
    padding: 20px;
    background-color: rgba(255,255,255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

