.main-content {
  margin-top: 70px; /* Adjust based on the actual height of your navbar */
}


.content-container {
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%; /* Ensure it takes the full width */
  flex-direction: column; /* Stack vertically */
}
