.change-password-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 90px;
    margin-left: 33%;
}

.change-password-form label {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #ccc;
}

.change-password-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px);
    background-color: white;
    color: #333;
}

.change-password-form .error {
    color: #d9534f;
    margin-bottom: 10px;
}

.change-password-form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.change-password-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.change-password-form button[type="button"] {
    background-color: #f44336;
    color: white;
    margin-left: 10px; /* Adds space between the Change and Cancel buttons */
}

.change-password-form button:hover {
    opacity: 0;
}
