.donate-page {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.donation-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 40px;
    
}

.donation-container img {
    width: 350px; /* Adjust width as necessary */
    height: auto;
    margin-top: 20px; /* Adjust top margin to align with the bottom of the navbar */
}

.donation-container .donate-h1 {
    grid-column: 2;
    margin-top: 80px;
    min-width: 500px;
}

.donation-container p {
    grid-column: 2;
    color: #860A35;
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: 20px;
    width: 50%
}

.donate-button {   
    padding: 20px 20px;
    background-color: #860A35;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 10px;   
}

.donate-button:hover {
    background-color: #A3B763;
}

.donate-page h2 {
    color: #666; 
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 50px;
    
}


.donate-supplies-container {
    
    margin-left: 50px;
    width: 66.67%;
     
}

.donate-supplies-title, .dry-food-title, .wet-food-title {
    color: #666; 
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #860A35;
}


.supplies-needed-list {
    background-color: #FFE6E6;
    padding: 20px;
    margin-top: 20px; /* Creates space between these sections and the donation-container */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 250px;
    color: #860A35;
    line-height: 1.5;
    font-size: 1.1rem;
}


.donate-dry-food-container {
    background-color: #FFE6E6;
    padding: 20px;
    margin-top: 20px; /* Creates space between these sections and the donation-container */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    color: #860A35;
    line-height: 1.5;
    font-size: 1.1rem;
    height: 250px;
}

.donate-wet-food-container {
    background-color: #FFE6E6;
    padding: 20px;
    margin-top: 20px; /* Creates space between these sections and the donation-container */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensures these sections take full width */
    color: #860A35;
    line-height: 1.5;
    font-size: 1.1rem;
    height: 250px;
}

.modal-content {
    top: 25%;
    left: 50%; 
    width: 30%;
    padding: 20px;
    background-color: rgba(255,255,255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close {
    
    top: 10px;
    right: 10px;
    color: #860A35;
    background-color: #ccc;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 7px;
    
}
